.mat-select-panel {
	background-color: mat-color($background, card);
}
md-option {
    font-size: $font-size-base!important;
}

.app-dark .mat-select-panel {
	background-color: mat-color($dark-background, card);
}